body {font-family:Arial;color:black;background-color:whitesmoke;}
h1 {font-family:Century;size:50;color:black;}
h2 {font-family:Century;size:30;color:black;}
ul {font-family:Century;color:palevioletred;}
